

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --color-black: #121212;
  --color-white: #FEFEFE;
  --color-primary-base: #1080BD;
  --color-primary-focus: #1080BD;
  --color-primary-active: #1080BD;

  --size-xxs: 10px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-base: 16px;
  --size-md: 18px;
  --size-lg: 20px;
  --size-xl: 28px;
  --size-xxl: 40px;

  --weight-light: 200;
  --weight-base: 400;
  --weight-medium: 600;
  --weight-bold: 800;
  --weight-black: 900;

  --radius-base: 6px;
  --radius-sm: 2px;
  --radius-lg: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

